[submodule "Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning"]
	path = Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning
	url = https://github.com/Rajib-Mardi/Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning.git
