[submodule "Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning"]
	path = Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning
	url = https://github.com/Rajib-Mardi/Built-complete-CI-CD-pipelines-for-Dockerized-application-with-dynamic-versioning.git
[submodule "Setup-continuous-deployment-to-AWS-EC2"]
	path = Setup-continuous-deployment-to-AWS-EC2
	url = https://github.com/Rajib-Mardi/Setup-continuous-deployment-to-AWS-EC2.git
[submodule "Setup-continuous-deployment-to-kubernetes-cluster-on-AWS-EC2"]
	path = Setup-continuous-deployment-to-kubernetes-cluster-on-AWS-EC2
	url = https://github.com/Rajib-Mardi/Setup-continuous-deployment-to-kubernetes-cluster-on-AWS-EC2.git
[submodule "Setup-continuous-deployment-to-AWS-EKS"]
	path = Setup-continuous-deployment-to-AWS-EKS
	url = https://github.com/Rajib-Mardi/Setup-continuous-deployment-to-AWS-EKS.git
[submodule "CI-CD-with-Docker-Compose"]
	path = CI-CD-with-Docker-Compose
	url = https://github.com/Rajib-Mardi/CI-CD-with-Docker-Compose.git
[submodule "Integrated-provisioning-stage-to-automate-provisioning-server"]
	path = Integrated-provisioning-stage-to-automate-provisioning-server
	url = https://github.com/Rajib-Mardi/Integrated-provisioning-stage-to-automate-provisioning-server.git
